body {
	background-color: #BBBBBB;
	font-family: sans-serif;
}

.nb {
	font-weight: bold;
	float: right;
}

.pr {
	background: #CCCCCC;
	border: solid 1px #BBBBBB;
	padding: 0 0.25em;
	text-decoration: none;
	font-family: serif;
	margin: 0 0.1em;
}

.project {
	display: inline-block;
	border: solid 1px;
	vertical-align: top;
	padding: 0.25em;
	margin: 0.25em;
}

.project .label {
	font-size: 0.8em;
	vertical-align: bottom;
  color: #444444;
}

.project-name {
	font-weight: bold;
}

.project-name a {
	text-decoration: none;
}

#logo {
	margin-right: 2em;
	height: 70px;
}

#summary {
	display: inline-block;
  background-color: #DDDDDD;
  border: solid 1px #CCCCCC;
  vertical-align: top;
	padding: 0.25em;
}

#summary .label {
	float: left;
	margin-right: 1ex;
}

#top {
	margin-bottom: 1em;	
}

.project-cat-product {
  background: #CC8888;
  border-color: #BB8888;
}

.project-cat-documentation {
  background: #88CC88;
  border-color: #88BB88;
}

.project-cat-support {
  background: #8888CC;
  border-color: #8888BB;
}
