@* index Template File *@
@()


@main {

  <div id="top">
    <img id="logo" alt="Scala IDE logo" src="@routes.Assets.at("images/scala-ide-logo-transparent-black.png")">
    <div id="summary">
      <div id="project-nb" class="summary-item"><span class="label"># of projects: </span><span id="project-nb-value" class="nb">-</span></div>
      <div id="open-pr-nb" class="summary-item"><span class="label"># of open PRs: </span><span id="open-pr-nb-value" class="nb">-</span></div>
    </div>
  </div>

  <div id="projects">
  </div>

  <script type="text/javascript">

    function message(msg) {
      $('#projects').append("<p>" + msg + "</p>")
    }

    var socket = new WebSocket("ws://localhost:9000/ws");

    socket.onopen = function() {
    	var message= {
    			"action":"go"};
        socket.send(JSON.stringify(message));
    }

    socket.onmessage = function(event) {
        var msg = JSON.parse(event.data)
        console.log("received message " + msg);
        message(event.data);
    }

  </script>

}