@(projects: Seq[(model.Project, Seq[model.PullRequest])])

@main {

  <div id="title"><h1><img alt="Scala IDE logo" src="@routes.Assets.at("images/scala-ide-logo.png")">Dashboard</h1></div>
  
  <div id="pr-total"># of PRs: @{projects.map(_._2.size).sum}</div>
    
  <div id="projects">
  @for(project <- projects) {
    <div class="project">
      <div class="project-name"><a href="https://github.com/@project._1.githubRepo">@project._1.name</a></div>
      @for(pr <- project._2) {
        <div class="pr_link"><a href="@pr.url">@pr.number</a></div>
      }
    </div>
  }
  </div>

}